.btn {
    width: 20%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 10px;
    background-color: #857DC4 !important;
    border: #91C2D8 !important;
    align-items: center;
    width: 300px;
    }
    .form-group {
        width: 300px;
    }
    .container {
        position: relative;
    }
    a {
        color:#91C2D8 !important;
    }
    #cadastro {
        position: absolute;
        top: 110%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
    .maquina {
        object-position: bottom 12px right 40px;
        align-items: center;
    }
    .tudo {
        padding-top: 10%;
    }
    .col-8 {
        padding-top: 3%;
        padding-left: 10%;
    }
    .btn-login {
        padding-left: 70px;
    }
     .voltar{
        font-size: xx-large;
        padding-top: 15%;
     }
     .sub-titulo{
        color: #857DC4;
     }