body {
	font-family: Helvetica, sans-serif;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.row {
    padding-top: 2%;
    padding-bottom: 2%;
}
.input-group {
    margin-right: 10px;
  }
  
  .input-group:last-child {
    margin-right: 0;
  }
  .tituloNovopedido{
    margin-top: 10%;
  }
